<h1>Add New Album:</h1>

<br>
<br>
<div class="album-info">
<div class="form">
<form action="/albums" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>Img: <input type="text" name="image"></p>
  <p>Year: <input type="text" name="year"></p>
  <p>Tracks: <input type="text" name="tracks"></p>
  <p>Link: <input type="text" name="link"> <br></p>

  <button class="button-style" >Sumbit Changes</button>
</form>

<a href="/albums">Home >>></a>
</div>
</div>
